 body {
            margin: 0;
            font-family: 'Times New Roman', Times, serif, sans-serif;
            background-color: #1e2144;
            color: #fff;
            text-align: center;
        }
        
        #titulo-principal {
            font-size: 48px;
        }
     

       

        .banner-img {
            max-width: 100%;
            height: auto;
    
        }

video{
    border: 15px solid #0a012c ;
}

nav {
     background-color: #1e2144;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}


nav a {
    text-decoration: none; 
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s; 
}


nav a:hover {
    background-color: #555;
    
}

aside{

    font-size: 20px;
    text-align: justify;
    display: flex;
    margin: 5%;
    align-items: center ;

    .box{
        width: 100%;
        height: auto;
        background-color:#0a012c ;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-left: 5px solid #007bff;
        text-align: left;
    }
     .box p {
            color: #fffafa;
            line-height: 1.6;
            font-size: 1.1em;
     }
}


.container-dinossauro {
    padding: 20px 0;
}

.dinossauro-info {
    display: flex;
    align-items: flex-start; 
    gap: 30px; 
    padding: 20px;
    border-radius: 10px;
}


.dinossauro-imagem {
    width: 200px; 
    height: 200px;
    

}


.dinossauro-texto {
    flex: 1; 
}

.dinossauro-texto h3 {
    margin-top: 0;
    font-size: 1.8em;
    color: #ffffff;
}

.dinossauro-texto p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ffffff;
}

.divisor {
    border: 0;
    height: 1px;
    background-color: white;
    margin: 20px auto;
    width: 90%;
}


